
.bg-grid {
  background-image: url('../public/darkSlice.svg');
  background-size: 40px 40px; /* Adjust size as needed */
  background-repeat: repeat;
  opacity: 0.02; /* Adjust opacity for subtlety */
}

[data-theme="light"] .bg-grid {
      background-image: url('../public/lightSlice.svg');
  opacity: 0.025;
}