:root {
  --background-color: #090909;
  --text-color: #ffffff;
  --accent-color: #ffffff;
}

.light-mode {
  --background-color: #e9e9e9;
  --text-color: #000000;
  --accent-color: #fc9930;

}

body,
html {

  background-color: var(--background-color);
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

nav {

  transition: all .5s ease;
  background-color: #ffffff00;
}

.hero {
  background-color: var(--background-color);
  color: var(--text-color);
}

.logoNav {
  font-family: "Zen Dots", sans-serif;
  font-weight: 600;
  color: #fff;
  transition: all .35s ease-in-out;



}

.logoNav:hover {

  cursor: text;
  letter-spacing: 1rem;
}

.heroSocialLogos {
  background-clip: border-box;
  mix-blend-mode: exclusion;
  filter: grayscale(1);
  transition: all .2s ease;
}

.heroSocialLogos:hover {

  filter: grayscale(0);
  filter: contrast(100);
  transform: scale(1.3);
}

.accent {

  filter: grayscale(1);
  color: #fc9930;
  outline: dashed #fff 1px;
}

.nav-active {

  text-decoration: none;
  backdrop-filter: blur(5px);
  height: 6rem;
  background-color: #24242452;
}

.custom-cursor {
  width: 30px;
  height: 30px;
  border: 2px solid #fc9930;
  /* Orange color */
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 1000;
  /* Ensure it stays on top */
  transform: translate(-50%, -50%);
  /* Center the cursor */
  transition: transform 0.1s ease-out;
  mix-blend-mode: difference;
  /* Optional: For a cool effect */
}

.resumeLogo {
  transition: all ease .2s;
}

.resumeLogo:hover {
  filter: brightness(2);
  transform: scale(1.1);
}


.netbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dededed7;
  color: #444;
}

.netbox .icon {
  padding: 0.6rem 0.6rem;
  color: #444;
  transition: color 140ms ease;

}


body::-webkit-scrollbar-thumb {
  background-color: rgb(181, 181, 181);
  border-radius: 3px;

}


body::-webkit-scrollbar {

  width: .5em;
}


body::-webkit-scrollbar-track-piece {
  background: #00000000;
}

.projects-h1 {

  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.card {
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: #04040492;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  -webkit-box-shadow: 0px 0px 100px 0px rgba(255, 255, 255, 0.05);
  -moz-box-shadow: 0px 0px 100px 0px rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 100px 0px rgba(255, 255, 255, 0.05);
}


.orgLogo {
  cursor: cell;
}

.custom-cursor {
  position: fixed;
  width: 100px;
  height: 100px;
  background: url('../public/sliced_org.jpg') no-repeat center;
  background-size: cover;
  border-radius: 50%;
  pointer-events: none;
  z-index: 10000;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease, transform 0.2s ease;
  mix-blend-mode: normal;
  cursor: none;
}

.custom-cursor.show {
  opacity: 1;
}


.ulLinkNav {
  transition: .4s ease-in-out all;
}

.scrollDownArrow:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease;
  transform: scale(1.2);

  stroke: #e9e9e9;
}

.footerLinks, .navLinks {

  transition: .4s ease-in-out all;

}

.footerLinks:hover, .navLinks:hover {

  color: #fc9930;
  letter-spacing: .08rem;
}

main {

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}


#root{
  
  margin-bottom: 2px;
}